<h3>Hi {{ log.user.get_full_name }},</h3>
<p>Your access request for <strong>{{ log.location.name }}</strong> on <strong>{{ log.scheduled_for_date }}</strong> has been approved by {{ log.approved_by.get_full_name }}.</p>
<p>You can now proceed with check-in on the scheduled date.</p>


<h3>halo {{ log.user.get_full_name }},</h3>
<p>Akses yang diminta di <strong>{{ log.location.name }}</strong> pada <strong>{{ log.scheduled_for_date }}</strong> telah disetujui oleh {{ log.approved_by.get_full_name }}.</p>
<p>Anda bisa untuk check-in di waktu yang sudah dijadwalkan.</p>